[MAIN]

# Files or directories to be skipped. They should be base names, not paths.
ignore=_version.py

[BASIC]

# Good variable names which should always be accepted, separated by a comma.
good-names=i,
           j,
           k,
           x,
           y,
           t,
           f,
           m,
           n,
           p,
           N,
           ex,
           df,
           ax,
           Run,
           _

[TYPECHECK]

# List of module names for which member attributes should not be checked
# (useful for modules/projects where namespaces are manipulated during runtime
# and thus existing member attributes cannot be deduced by static analysis). It
# supports qualified module names, as well as Unix pattern matching.
ignored-modules=scipy.special,scipy.signal

[MESSAGES CONTROL]
disable=line-too-long
